# Assignment 5, Question 4: Data Exploration

**Points: 15**

In this notebook, you'll explore the clinical trial dataset using pandas selection and filtering techniques.

You'll use utility functions from `q3_data_utils` where helpful, but also demonstrate direct pandas operations.

## Setup

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Import utilities from Q3
from q3_data_utils import load_data, detect_missing, filter_data

# Load the data
df = load_data('data/clinical_trial_raw.csv')
print(f"Loaded {len(df)} patients with {len(df.columns)} variables")

# Prewritten visualization functions for exploration
def plot_value_counts(series, title, figsize=(10, 6)):
    """
    Create a bar chart of value counts.
    
    Args:
        series: pandas Series with value counts
        title: Chart title
        figsize: Figure size tuple
    """
    plt.figure(figsize=figsize)
    series.plot(kind='bar')
    plt.title(title)
    plt.xticks(rotation=45)
    plt.tight_layout()
    plt.show()

def plot_crosstab(crosstab_data, title, figsize=(10, 6)):
    """
    Create a heatmap of crosstab data.
    
    Args:
        crosstab_data: pandas DataFrame from pd.crosstab()
        title: Chart title
        figsize: Figure size tuple
    """
    plt.figure(figsize=figsize)
    plt.imshow(crosstab_data.values, cmap='Blues', aspect='auto')
    plt.colorbar()
    plt.title(title)
    plt.xticks(range(len(crosstab_data.columns)), crosstab_data.columns, rotation=45)
    plt.yticks(range(len(crosstab_data.index)), crosstab_data.index)
    plt.tight_layout()
    plt.show()

Loaded 10000 patients with 18 variables

## Part 1: Basic Exploration (3 points)

Display:
1. Dataset shape
2. Column names and types
3. First 10 rows
4. Summary statistics (.describe())

In [9]:
# TODO: Display dataset info
print("Dataset shape:",df.shape)
print("Column names and types:")
print(df.dtypes)
print("First 10 rows:")
display(df.head(10))
print("Summary statistics:")
display(df.describe())

Dataset shape: (10000, 18)
Column names and types:
patient_id             object
age                     int64
sex                    object
bmi                   float64
enrollment_date        object
systolic_bp           float64
diastolic_bp          float64
cholesterol_total     float64
cholesterol_hdl       float64
cholesterol_ldl       float64
glucose_fasting       float64
site                   object
intervention_group     object
follow_up_months        int64
adverse_events          int64
outcome_cvd            object
adherence_pct         float64
dropout                object
dtype: object
First 10 rows:

,patient_id,age,sex,bmi,enrollment_date,systolic_bp,diastolic_bp,cholesterol_total,cholesterol_hdl,cholesterol_ldl,glucose_fasting,site,intervention_group,follow_up_months,adverse_events,outcome_cvd,adherence_pct,dropout
0,P00001,80,F,29.3,2022-05-01,123.0,80.0,120.0,55.0,41.0,118.0,site b,Control,20,0,No,24.0,No
1,P00002,80,Female,NaN,2022-01-06,139.0,81.0,206.0,58.0,107.0,79.0,Site A,CONTROL,24,0,No,77.0,No
2,P00003,82,Female,-1.0,2023-11-04,123.0,86.0,172.0,56.0,82.0,77.0,SITE C,treatment b,2,0,Yes,70.0,No
3,P00004,95,Female,25.4,2022-08-15,116.0,77.0,200.0,56.0,104.0,115.0,Site D,treatment b,17,0,No,62.0,No
4,P00005,95,M,NaN,2023-04-17,97.0,71.0,185.0,78.0,75.0,113.0,site e,Treatmen A,9,0,yes,NaN,Yes
5,P00006,78,F,26.8,2023-08-29,116.0,66.0,164.0,54.0,99.0,99.0,Site A,TreatmentA,4,0,yes,NaN,Yes
6,P00007,84,F,25.4,2022-05-12,133.0,100.0,215.0,62.0,113.0,70.0,site a,treatment a,20,1,No,76.0,No
7,P00008,70,Male,24.7,2022-06-04,111.0,72.0,174.0,60.0,94.0,109.0,SITE B,TREATMENT A,19,0,No,53.0,No
8,P00009,92,Female,26.9,2022-04-06,NaN,NaN,189.0,62.0,89.0,103.0,site a,Control,21,0,yes,53.0,No
9,P00010,75,Male,21.1,2023-12-14,128.0,76.0,218.0,77.0,97.0,96.0,SITE A,Treatment B,1,0,No,50.0,No

Summary statistics:

,age,bmi,systolic_bp,diastolic_bp,cholesterol_total,cholesterol_hdl,cholesterol_ldl,glucose_fasting,follow_up_months,adverse_events,adherence_pct
count,10000.000000,9562.000000,9586.000000,9586.000000,9446.000000,9446.000000,9446.000000,9631.000000,10000.00000,10000.000000,8533.000000
mean,59.182700,25.730558,117.531087,73.550908,178.039488,61.369786,85.698603,96.424255,12.25460,0.145500,60.615610
std,151.769963,5.339547,13.973973,10.167464,33.129034,11.062101,28.686463,17.112961,7.07675,0.393631,18.974399
min,-999.000000,-1.000000,75.000000,60.000000,91.000000,25.000000,40.000000,51.000000,0.00000,0.000000,20.000000
25%,70.000000,23.500000,108.000000,65.000000,155.000000,54.000000,65.000000,84.000000,6.00000,0.000000,47.000000
50%,80.000000,26.000000,117.000000,73.000000,177.000000,61.000000,84.000000,96.000000,12.00000,0.000000,62.000000
75%,92.000000,28.775000,127.000000,81.000000,200.000000,69.000000,105.000000,108.000000,19.00000,0.000000,75.000000
max,100.000000,42.800000,173.000000,118.000000,315.000000,98.000000,226.000000,163.000000,24.00000,4.000000,100.000000

## Part 2: Column Selection (3 points)

Demonstrate different selection methods:

1. Select only numeric columns using `.select_dtypes()`
2. Select specific columns by name
3. Select a subset of rows and columns using `.loc[]`

In [10]:
# TODO: Select numeric columns
numeric_columns = df.select_dtypes(include="number")
print("numeric columns:\n", numeric_columns)

numeric columns:
       age   bmi  systolic_bp  diastolic_bp  cholesterol_total  \
0      80  29.3        123.0          80.0              120.0
1      80   NaN        139.0          81.0              206.0
2      82  -1.0        123.0          86.0              172.0
3      95  25.4        116.0          77.0              200.0
4      95   NaN         97.0          71.0              185.0
...   ...   ...          ...           ...                ...
9995   72  23.2        122.0          73.0              182.0
9996  100  28.9        124.0          78.0              157.0
9997   78  23.8        110.0          63.0              154.0
9998   86  27.0        139.0          98.0              196.0
9999   67  29.4        134.0          83.0              197.0

      cholesterol_hdl  cholesterol_ldl  glucose_fasting  follow_up_months  \
0                55.0             41.0            118.0                20
1                58.0            107.0             79.0                24
2                56.0             82.0             77.0                 2
3                56.0            104.0            115.0                17
4                78.0             75.0            113.0                 9
...               ...              ...              ...               ...
9995             54.0             92.0             97.0                21
9996             56.0             70.0            102.0                11
9997             69.0             71.0            114.0                 2
9998             38.0            119.0            126.0                16
9999             51.0            117.0            128.0                22

      adverse_events  adherence_pct
0                  0           24.0
1                  0           77.0
2                  0           70.0
3                  0           62.0
4                  0            NaN
...              ...            ...
9995               0           20.0
9996               0           57.0
9997               1           77.0
9998               0           63.0
9999               0           48.0

[10000 rows x 11 columns]

In [ ]:
# TODO: Select specific columns

#im understanding this as input a sample column to show that we can select by that; choosing "age" and "bmi"
select_columns_names = df[["age", "bmi"]]
print(select_columns_names)

      age   bmi
0      80  29.3
1      80   NaN
2      82  -1.0
3      95  25.4
4      95   NaN
...   ...   ...
9995   72  23.2
9996  100  28.9
9997   78  23.8
9998   86  27.0
9999   67  29.4

[10000 rows x 2 columns]

In [ ]:
# TODO: Use .loc[] to select subset

# selecting first 50 by "age" and "bmi"
select_subset = df.loc[1:50, ["age","bmi"]]
print(select_subset)

    age   bmi
1    80   NaN
2    82  -1.0
3    95  25.4
4    95   NaN
5    78  26.8
6    84  25.4
7    70  24.7
8    92  26.9
9    75  21.1
10   79  23.5
11   72   NaN
12  100  28.0
13  100  21.1
14   64  32.8
15   60  30.0
16   65  29.6
17   91  23.2
18  100  24.6
19   85  24.0
20   70  28.9
21   65  24.9
22   62  33.3
23   77  24.9
24   90  23.6
25   56  22.9
26   95  24.3
27   74  27.8
28   96  24.6
29   71  28.5
30   89  28.1
31   81  23.4
32  100  22.3
33   83  37.1
34   70  34.4
35   89  28.2
36   70  22.6
37   92  20.3
38   63  25.4
39   83  30.7
40   76  34.8
41   71  24.8
42   80  25.7
43   62  34.6
44  100  29.0
45   81  23.0
46   94  26.8
47  100  23.1
48   90  26.7
49   92  27.7
50   96  32.8

## Part 3: Filtering (4 points)

Filter the data to answer these questions:

1. How many patients are over 65 years old?
2. How many patients have systolic BP > 140?
3. Find patients who are both over 65 AND have systolic BP > 140
4. Find patients from Site A or Site B using `.isin()`

In [ ]:
# TODO: Filter and count patients over 65
# 1. Use the filter_data utility from Q3
# 2. Create a filter for age > 65
# 3. Apply the filter and count the results
# print(f"Patients over 65: {len(patients_over_65)}")

filters = [
    {'column': 'age', 'condition': 'greater_than', 'value': 65}]
over_65 = filter_data(df, filters)
print("Patients over 65:",len(over_65))

Patients over 65: 8326

In [25]:
# TODO: Filter for high BP
# 1. Use the filter_data utility from Q3
# 2. Create a filter for systolic_bp > 140
# 3. Apply the filter and count the results
# print(f"Patients with high BP: {len(high_bp)}")

filters = [
    {'column': 'systolic_bp', 'condition': 'greater_than', 'value': 140}]
over_140 = filter_data(df, filters)
print("Patients with high BP:", len(over_140))

Patients with high BP: 538

In [30]:
# TODO: Multiple conditions with &
# 1. Use filter_data for multiple conditions:
# 2. Create filters for both conditions:
#     {'column': 'age', 'condition': 'greater_than', 'value': 65},
#     {'column': 'systolic_bp', 'condition': 'greater_than', 'value': 140}
# ]
# 3. Apply the filter and count the results
# print(f"Patients over 65 AND high BP: {len(both_conditions)}")
#
# 5. Alternative: Use in_range for age range:
# 5. Create filter for age range 65-100
# 6. Apply the filter and count the results

filters = [{'column': 'age', 'condition': 'greater_than', 'value': 65},{'column': 'systolic_bp', 'condition': 'greater_than', 'value': 140}]

age_and_sysbp = filter_data(df, filters)
print(f"Patients over 65 AND high BP: {len(age_and_sysbp)}")

Patients over 65 AND high BP: 464

In [32]:
# TODO: Filter by site using .isin()
# 1. Use the filter_data utility from Q3
# 2. Create a filter for Site A or Site B
# 3. Apply the filter and count the results
# print(f"Patients from Site A or B: {len(site_ab)}")

filters = [{'column': 'site', 'condition': 'in_list', 'value': ['Site A', 'Site B']}]

site_ab = filter_data(df, filters)
print(f"Patients from Site A or B: {len(site_ab)}")

Patients from Site A or B: 1397

## Part 4: Value Counts and Grouping (5 points)

1. Get value counts for the 'site' column
2. Get value counts for the 'intervention_group' column  
3. Create a crosstab of site vs intervention_group
4. Calculate mean age by site
5. Save the site value counts to `output/q4_site_counts.csv`

In [41]:
# TODO: Value counts and analysis
site_counts = df["site"].value_counts()
intervention_counts = df["intervention_group"].value_counts()
site_intervention_crosstab = pd.crosstab(df["site"], df["intervention_group"])
mean_age_by_site = df.groupby("site")["age"].mean()
df["site"].unique()

array(['site b', 'Site A', 'SITE C', 'Site D', 'site e', 'site a',
       'SITE B', 'SITE A', 'SITE E', 'site d', 'Site E', 'site c',
       'Site C', '  SITE D  ', '  Site B  ', 'Site_D', 'SITE D',
       '  site a  ', 'Site B', '  site e  ', '  SITE B  ', 'Site  A',
       '  Site  A  ', '  site d  ', '  site b  ', '  site c  ',
       '  Site E  ', '  SITE E  ', '  SITE C  ', '  SITE A  ',
       '  Site A  ', '  Site_D  ', '  Site C  ', '  Site D  '],
      dtype=object)

In [ ]:
# TODO: Save output
site_counts.to_csv('output/q4_site_counts.csv')

## Summary

Write 2-3 sentences about what you learned from exploring this dataset.

I learned how messy data can be, not only with missing values but data manually entered can be uppercase, lowercase, any combination of the two, as well as have spaces or no spaces. In this case is we run df["site"].nunique() we get 34 different categories when we should have 5 (A, B, C, D, E).

**Your summary here:**

TODO: Write your observations